html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* using rem unit */
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.input {
  background-color: white;
  border: 0;
  border-radius: 50px;
  padding: 15px 25px;
  padding-right: 55px;
  color: #333;
  font-family: "Poppins", sans-serif;
  display: block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
}
.input-wrapper {
  position: relative;
  width: 300px;
  margin: 25px auto;
}
.input-icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
}
.input-icons .fa-check {
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
